body {
  width: 300px;
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container > *:not(:last-child) {
  margin-bottom: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
}

#goclassify {
  width: 60px;
  text-transform: uppercase;
  color: #AB47BC;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
}

#goclassify:hover {
  color: #CE93D8;
}